<h2 class="center"><%= @photos.size %> Photos Analyzed</h2>
<div class="center">
  <%= image_tag @processing_time_graph_url %>
</div>
<div class="center">
  <%= image_tag @download_time_graph_url %>
</div>

