<h3 class="center"><%= @photos.size %> Analyzations with Location Information</h3>
<div class="center map-container">
  <div id="map" class="universal-div-bg"></div>
</div>

<div class="center">.</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>