<div class="center">
  <a href='?filter=00-03' class='greenBtn'>0.0-0.3 Seconds</a>
  <a href='?filter=03-07' class='orangeBtn'>0.3-0.7 Seconds</a>
  <a href='?filter=07-10' class='redBtn'>0.7-1.0 Seconds</a>
  <a href='?filter=10' class='redBtn'>1.0+ Seconds</a>
</div>
<br/>
<h3 class="center"><%= @photos.size %> Analyzations with Location Information</h3>
<div class="center map-container">
  <div id="map" class="universal-div-bg"></div>
</div>

<div class="center">.</div>

<script type="text/javascript">
    buildMap(<%=raw @hash.to_json %>);
</script>